<div class="container">

  <h1>Reading List</h1>

  <ol class="breadcrumb">
    <li class="active">
      Books
    </li>
  </ol>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
    </div>
  </div>

  <hr>


  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled book-list">

        <%= render @books %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% @genres.each do |genre| %>
          <li>
            <a href="#" class='label label-primary'><%= genre.name %></a>
          </li>
        <% end %>
      </ul>
  </div>
</div>